{% extends 'base.html' %} 
{% load static %} 

{% block content %}
    <div class="tw-bg-white tw-fixed tw-top-0 tw-z-[5000] tw-flex tw-flex-col tw-place-content-center tw-items-center tw-h-full tw-w-full">



        <form action="{% url "password-reset" %}" method="POST" class="tw-rounded-md tw-shadow-lg tw-text-center 
                                                                            tw-w-[350px] tw-min-h-[300px] tw-flex tw-flex-col
                                                                            tw-gap-4 tw-place-items-center tw-p-3">
            {% csrf_token %}
            <div class="tw-text-2xl">
                Password reset request
            </div>

            {% if messages %}
                <div class="message-container" role="alert">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </div>
            {% endif %}
         
            <div class="tw-text-sm">
                type your registered email to send password reset form
            </div>

            {% if form.errors %}
                <div class="error-container" role="alert" >
                   {{form.errors}}
                </div>
            {% endif %}
           

            <input type="email" name="email" required  class="input tw-w-full"
                     autofocus placeholder="email" oninput="checkEmailResend()">

            <input type="submit" class="btn tw-m-3 hover:tw-scale-[1.02]
                                        tw-duration-[0.3s]">

            <a href="{% url "home" %}" class="tw-underline tw-text-lg">Go home</a>
        </form>
    </div>
{% endblock content %}