{% extends 'base.html' %} 
{% load static %} 

{% block content %}
    <div class="tw-bg-white tw-fixed tw-top-0 tw-z-[5000] tw-flex tw-flex-col tw-place-content-center tw-items-center tw-h-full tw-w-full">


        {% if validlink %}
            {% if form.errors %}
                <div class="error-container" role="alert" >
                    {{form.errors}}
                    
                </div>
            {% endif %}
            
            <form action="" method="post" class="tw-w-[350px] tw-min-h-[350px] tw-bg-white
                        tw-rounded-xl tw-p-5 tw-text-center tw-flex tw-flex-col tw-gap-3 tw-shadow-xl
                        tw-place-content-center max-md:tw-w-full tw-place-items-center
                        ">
                {% csrf_token %}
                <div class="tw-text-3xl tw-mb-[5%] tw-m-2">
                    Password reset
                </div>
                <div class="tw-flex tw-w-full input !tw-p-[2px]">
                    <input type="password" class="tw-w-full tw-p-[8px] tw-border-none tw-outline-none"
                        placeholder="password" name="new_password1" maxlength="30" >
                </div>
                <div class="tw-flex tw-w-full input !tw-p-[2px]">
                    <input type="password" class="tw-w-full tw-p-[8px] tw-border-none tw-outline-none"
                        placeholder="retype password" name="new_password2" maxlength="30" >
                </div>
                
                <button type="submit" class="btn !tw-w-[200px] 
                                                            tw-m-3 hover:tw-scale-[1.02]
                                                            tw-duration-[0.3s]
                                                            ">
                    Reset password
                </button>

            </form>
        {% else %}
            <div class="error-container">
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </div>
           
        {% endif %}

    </div>
{% endblock content %}