{% extends './html/base.html' %}
{% load static %}

{% block content %}
<div class="tw-flex tw-flex-col tw-min-h-[100vh] tw-p-3 tw-place-items-center tw-gap-4">

    <img src="{% static "./assets/images/404.png" %}" class="tw-max-w-[auto] tw-max-h-[400px]" alt="" srcset="">
    <div class="tw-text-3xl tw-font-bold">
        404 page
    </div>
    <div class="tw-text-xl">
        Sorry doggy ate this page. Please go back to home.
    </div>
    <a href="{% url "home" %}" class="btn btn-dark">
        Go home
    </a>
</div>
{% endblock content %}