{% extends 'unfold/layouts/base_simple.html' %}

{% load i18n unfold %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% trans 'Dashboard' %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header }}
        </a>
    </h1>
{% endblock %}

{% block extrahead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        Chart.register(ChartDataLabels);
    </script>

{% endblock %}

{% block content %}
    {% component "unfold/components/container.html" %}
           
        {% component "unfold/components/flex.html" with class="gap-4" %}
            Dashboard
            {% component "unfold/components/navigation.html" with class="ml-auto" items=filters %}{% endcomponent %}
        {% endcomponent %}
         
        {% component "unfold/components/text.html" %}
                {% blocktrans %}
                 <div class="my-4 text-md">
                    Sample analytics, feel free to connect your own analytics function defined inside project.view.dashboard_callback
                    or <a href="https://github.com/PaulleDemon" class="underline text-primary-600">contact us</a> for help
                 </div>  
                {% endblocktrans %}
        {% endcomponent %}
        {% trans "Visitors in last 30 days" as title %}
        {% component "unfold/components/card.html" with class="mb-8 max-w-[650px] min-w-[650px] overflow-x-auto" title=title %}
            {% component "unfold/components/chart/bar.html" with data=visitors.dateTime height=320 options=bar_options class="tw-min-w-[450px]" %}{% endcomponent %}
        {% endcomponent %}

        {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}

            {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:w-1/2 col=1 lg:flex-row" %}
                {% trans "Top places" as title %}
                {% component "unfold/components/card.html" with class="lg:w-1/2" title=title %}
                    {% component "unfold/components/text.html" %}
                        {% blocktrans %}
                            Where your top visitors are from (details for last 30 days). 
                            <a href="https://analytics.google.com/" rel="noreferrer" target="_blank" class="text-primary-500 underline">View detailed analytics.</a>
                        {% endblocktrans %}
                    {% endcomponent %}   
                    {% component "unfold/components/separator.html" %}{% endcomponent %}
                    {% component "unfold/components/chart/bar.html" with data=visitors.cityCountry height=320 options=horizontal_chart class="tw-min-w-[450px]" %}{% endcomponent %}

                {% endcomponent %}    

            {% endcomponent %}   

            {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:w-1/2 col=1 lg:flex-row" %}
                {% trans "Inquiries" as title %}
                {% component "unfold/components/card.html" with class="lg:w-1/2" title=title %}
                    {% component "unfold/components/text.html" %}
                        {% comment %} {% blocktrans %} {% endcomment %}
                            Most recent inquires. 
                            <a href="{% url "admin:inquiry_inquiry_changelist" %}" class="text-primary-500 underline">View all.</a>
                        {% comment %} {% endblocktrans %} {% endcomment %}
                    {% endcomponent %}   
                    {% component "unfold/components/separator.html" %}{% endcomponent %}

                    <div class="flex flex-col gap-4">
                        {% for inquiry in inquiries %}
                            <a href="{% url "admin:inquiry_inquiry_change" inquiry.id %}" class="flex flex-col w-full h-full">
                                {% component "unfold/components/card.html" with class="min-w-[250px] gap-3" %}
                                    <div class="flex gap-3">
                                        <p class="font-semibold">Name</p>
                                        <p>{{inquiry.name}}</p>
                                    </div>
                                    <div class="flex gap-3">
                                        <p class="font-semibold">Email</p>
                                        <p>{{inquiry.email}}</p>
                                    </div>
                                    <div class="flex gap-3">
                                        <p class="font-semibold">Phone</p>
                                        <p>{{inquiry.phone}}</p>
                                    </div>
                                    <div class="flex flex-col gap-3">
                                        <p class="font-semibold">Description</p>
                                        <p>{{inquiry.description}}</p>
                                    </div>
                                {% endcomponent %}
                            </a>
                        {% endfor %}
                    </div>
                {% endcomponent %}    

            {% endcomponent %} 
        {% endcomponent %}
        
    {% endcomponent %}
{% endblock %}