<!DOCTYPE html>
<html>
<head>
    <title>Subscription</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h2>Subscription</h2>
    <p>Enable more payment method types <a
        href="https://dashboard.stripe.com/settings/payment_methods" target="_blank">in your
        dashboard</a>.</p>

    <form id="payment-form">
        <div id="link-authentication-element">
          <!-- Elements will create authentication element here -->
        </div>
        <div id="payment-element">
          <!-- Elements will create form elements here -->
        </div>
        <button id="submit">Pay now</button>
        <div id="error-message">
          <!-- Display error message to your customers here -->
        </div>
    </form>

      <div id="messages" role="alert" style="display: none;"></div>

    <script>
        const stripe = Stripe({{stripe_public_key}});

        const appearance = { /* appearance */ };
        const options = { /* options */ };
        const elements = stripe.elements({ clientSecret, appearance });
        const paymentElement = elements.create('payment', options);
        paymentElement.mount('#payment-element');
    </script>
</body>
</html>
