{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="tw-min-h-[80vh] tw-flex tw-flex-col tw-place-content-center tw-place-items-center">

    <div class="tw-shadow-xl tw-w-[350px] tw-min-h-[300px] tw-flex tw-flex-col tw-gap-2
                    tw-rounded-xl tw-p-3 tw-place-items-center tw-place-content-center">
        
        <i class="bi bi-check-circle tw-text-9xl tw-text-green-600"></i>
        <div class="tw-text-3xl">Success</div>
    </div>

</div>
{% endblock content %}